root {
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

.container {
	width: 30%;
	margin: 5em auto;
	border: 2px solid black;
}
.container-header {
	border-bottom: 2px solid black;
	padding: 5px;
}
.main-header {
	width: 95%;
	height: 80px;
	margin: 10px auto 0px auto;
	border: 2px solid black;
	background: #8d7cc2;
}
.main-boxes {
	display: flex;
	padding: 10px 5px 30px 5px;
}

.box-one,
.box-two,
.box-three {
	width: 300px;
	border: 2px solid black;
	margin: 5px;
	flex: 1;
	height: 200px;
}

.box-one {
	background: #e06665;
}

.box-two {
	background: #92c47d;
}

.box-three {
	background: #fe9900;
}
