root {
box-sizing: border-box;
}
*,
*::before,
*::after {
box-sizing: inherit;
}

.container {
	width: 30%;
	margin: 5em auto;
	border: 2px solid black;
}
.container-header {
	border-bottom: 2px solid black;
	padding: 5px;
}
.main {
	padding-top: 30px;
}
.main-header {
	width: 95%;
	height: 50px;
	margin: 10px auto 0px auto;
	border: 2px solid black;
	background: #009d0e;
}
.main-boxes {
	display: flex;
	padding: 5px 5px 10px 5px;
}
.pix-container {
	display: flex;
	padding: 10px 5px 15px 5px;
	flex-direction: row;
}
.pix {
	width: 200px;
	height: 100px;
	margin: 0 5px;
}
.pix img {
	width: 120px;
	height: 100px;
}
.box-one,
.box-two,
.box-three {
	width: 200px;
	border: 2px solid black;
	margin: 0px 5px;
	flex: 1;
	height: 100px;
}

.box-one {
	background: #fe9900;
}

.box-two {
	background: #cf2a28;
}

.box-three {
	background: #6fa8dd;
}